html {
  margin: 0;
  padding: 0;
}

#header { 
background-image: url(../Image/7e0ed440b3c5567d820ee9c67903e67e.jpg);
background-color: #fff;
background-position: top;
background-size: cover;
background-attachment: fixed;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-size: 12px;
}

header {
  width: 820px;
  height: 310px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 10px; 
  background: rgba(255, 255, 255, 0.403);
  text-align:center;
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.304)0%,rgba(255, 255, 255, 0.288)100%),rgba(255, 255, 255, 0.403);
  background-size: 1080px 720px ;
  background-position: right bottom  ;
 background-repeat: no-repeat;
  border-radius : 50px 50px 0px 0px ;
 text-shadow : 1px 1px 5px #000;
 font-size: 30px ;
 font-family:serif;


}


.title {
  margin-top: 50px;
  padding-top: 50px;
  text-align:center;
  list-style: none; 
  margin-right: 16px;
}

ul li {
  text-align:center;
  list-style: none;
  text-shadow: #0c0c0c;
  display:inline; 
  margin-right: 80px;

}


nav ul li a:link, nav ul li a:active, nav ul li a:visited{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover{
  background-color: #ffd272;
  /* text-decoration: underline; */
  color: #ffffff;
}

.content-area{
  display:flex;
 }

article{
  flex:2;
  min-height: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  border-right: 3px solid  #fefefd;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.403);
 background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.567)0%,rgba(255, 255, 255, 0.344)100%),url(../Image/01.jpg) ;
background-position: bottom;
background-repeat: no-repeat;
}

aside{
  flex: 1;
  min-height: 500px;
  padding-top: 20px;
  padding-left: 27px;
  padding-right: 20px;
  margin: 0px;
  font-size: 16px;
  background: rgba(227, 255, 137, 0.403);
}

footer{
  width: 850px;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  color: #fefefd;
  padding-top: 20px;
  background: rgba(85, 183, 85, 0.407);
  font-size: 14px;
  text-align:center;
}